apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx
spec:
  type: ClusterIP
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nginx-ingressroute
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`nginx.your-domain.com`) # ← CHANGE HERE
      kind: Rule
      services:
        - name: nginx-service
          port: 80
  tls:
    secretName: nginx-your-domain-com-tls

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: nginx-ingressroute-certificate
spec:
  secretName: nginx-your-domain-com-tls
  issuerRef:
    name: ovh-cluster-issuer
    kind: ClusterIssuer
  dnsNames:
    - nginx.your-domain.com # ← CHANGE HERE
